*{
margin: 0;
}
body {background-color: #1a4d35;
  
}

#titolo{color: white;}

.header-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: -40px;
}

#logo {
  width: 100px; 
  height: auto; 
  margin-right: 10px; 
}

#titolo {
  font-size: 64px; 
}

.titoli{color: #FFF;text-align: center;margin-left: 3%;margin-right: 3%;}



@media (max-width: 1400px) {
  .menu {
    display: none;
  }
}


.menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #ffffff;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 40px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #31885f;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}

#active{color: #7c7c7c;}

.menu-item:hover .submenu {
  display: block;
}

.submenu li {
  padding: 8px;
  cursor: pointer;
}

.submenu li:hover {
  background-color: #0e881980;
  border-radius: 30%;
}

#background{background-color: #7c7c7c;margin-top: -10;margin-left: 0;margin-right: 0;}
#background2{background-color: #1a4d35;margin-left: 0;margin-right: 0;}
#background3{background-color: #7c7c7c;margin-left: 0;margin-right: 0;}

@media screen and (max-width: 1400px) {
  .menu-item {
    font-size: 65%;
    padding: 5px 10px;
  }
}

.art{height: 1200px;width: auto;margin: 0 1% 1% 1%;}
#special{height: 1170px;}


.articoli{display: flex;
justify-content: center;width: 100%;}

#social {
  position: relative;
  height: 100px; 
  
}

.icones {
  width: 50px; 
  height: 50px; 
  position: absolute;
  top: 0;
}

#face {
  right: 0;
  margin-right: 30px;
  transition: 800ms;
}

#ista{margin-left: 30px;transition: 800ms;}

.stelle{height: 40px;width: auto;margin-left: 2%;margin-right: 2%;}

#link{color: #143a28;text-decoration: none;}

#ista:hover{width: 70px;height: 70px;}
#face:hover{width: 70px;height: 70px;}
#number{color: #143a28;}

