*{
margin: 0;
}
body {background-color: #ffffff;
  
}

#titolo{color: rgb(0, 0, 0);transition: 1500ms;user-select: none;}
#titolo:hover{color:#1a4d35;transition: 1500ms;}

.header-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: -40px;
}

#logo {
  width: 100px; 
  height: auto; 
  margin-right: 10px; 
}

#titolo {
  font-size: 64px; 
}

.titoli{color: #000000;text-align: center;margin-left: 3%;margin-right: 3%;border: 0;font-size: 40px;}

@media screen and (max-width: 1360px){.titoli{font-size: 20px;}}



@media (max-width: 1400px) {
  .menu {
    display: none;
  }
}


.menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #ffffff;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-top: 40px;
  
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li:hover{color: #000000;transition: 800ms;}
.menu ul li{transition: 800ms;}

.menu-item {
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #31885f;
  min-width: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10%;
}

#active{color: #000000;}

.menu-item:hover .submenu {
  display: block;
  
}

.submenu li {
  padding: 8px;
  cursor: pointer;
  transition: 800ms;
}

.submenu li:hover {
  background-color: #0e881980;
  border-radius: 30%;
  color: #000000;
  transition: 800ms;
}

.background{background-color: #ffffff;margin-top: -20;margin-left: 0;margin-right: 0;}
#background2{background-color: #1a4d35;margin-left: 0;margin-right: 0;}
#background3{background-color: #ffffff;margin-left: 0;margin-right: 0;}

@media screen and (max-width: 1400px) {
  .menu-item {
    font-size: 65%;
    padding: 5px 10px;
  }
}

.art{height: 1000px;margin: 0 1% 1% 1%;}
.art2{height: 100px;margin: 0 10% 1% 10%;}
.art3{height: 100px;margin: 0 10% 1% 10%;}
@media screen and (max-width: 4000px){.art3{display: none;}}
@media screen and (max-width: 1850px) {.art{height: 900px;}}
@media screen and (max-width: 1800px) {.art{height: 800px;}}
@media screen and (max-width: 1700px) {.art{height: 700px;}}
@media screen and (max-width: 1600px) {.art{height: 600px;}}
@media screen and (max-width: 1500px) {.art{height: 500px;}}
@media screen and (max-width: 1430px) {.articoli{display: flex;
  flex-direction: column; align-items: center;}
  .art{height: 1000px;}
  .art2{display: none;}
  .art3 {display: list-item;}
}

@media screen and (max-width: 1030px) {#face {left: 0;margin-left: 110px;}}


.articoli{display: flex;
justify-content: center;}

.articoli2{display: flex;
  justify-content: center;}

#social {
  position: relative;
  height: 100px; 
  
}

.icones {
  width: 50px; 
  height: 50px; 
  position: absolute;
  top: 0;
}

#face {
  right: 0;
  margin-right: 30px;
  transition: 800ms;
}

#ista{margin-left: 30px;transition: 800ms;}

.stelle{height: 40px;width: auto;margin-left: 2%;margin-right: 2%;}

#link{color: #1a4d35;}
#link:hover{color: #050372;}

#ista:hover{width: 70px;height: 70px;}
#face:hover{width: 70px;height: 70px;}
#number{color: #1a4d35;}

.iframe-container {
  display: flex;
  justify-content: center;
  
}

iframe {
  border: 6px solid black;
  border-radius: 15%;
}

#footer{display: flex;justify-content: center;align-items: center;
  border: 1px solid #ffffff;
  }
